<!DOCTYPE html>
<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#0ed3cf">
    <meta name="theme-color" content="#0ed3cf">
    <meta property="og:image" content="https://tailwindcomponents.com/storage/10589/conversions/temp23604-ogimage.jpg?v=2024-02-09 19:40:03" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="https://tailwindcomponents.com/component/sidebar-by-material-tailwind/landing" />
    <meta property="og:title" content="Tailwind CSS Sidebar by Material Tailwind" />
    <meta property="og:description" content="Create web projects more efficient with our ready-to-use Tailwind CSS Sidebar. Customize the sidebar to integrate it into your website&#039;s design, ensuring consistency with the overall aesthetics of your website. https://www.material-tailwind.com/docs/react/sidebar" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TwComponents" />
    <meta name="twitter:title" content="Tailwind CSS Sidebar by Material Tailwind" />
    <meta name="twitter:description" content="Create web projects more efficient with our ready-to-use Tailwind CSS Sidebar. Customize the sidebar to integrate it into your website&#039;s design, ensuring consistency with the overall aesthetics of your website. https://www.material-tailwind.com/docs/react/sidebar" />
    <meta name="twitter:image" content="https://tailwindcomponents.com/storage/10589/conversions/temp23604-ogimage.jpg?v=2024-02-09 19:40:03" />

    <link rel="canonical" href="https://tailwindcomponents.com/component/sidebar-by-material-tailw" itemprop="URL">

    <title>Login </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/other_styles.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/video-js.css}"/>

    <script src="/video.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <style>
        body {

            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>
<body class="h-full"  th:background="@{/images/VIDUP.jpg}">


<div class="flex min-h-full flex-col justify-center px-6  lg:px-8">

    <h1 class="bg-clip-text text-transparent text-center bg-gradient-to-bl from-indigo-500 to-zinc-800 text-6xl font-black mb-10 uppercase">
        VidUp
    </h1>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Activate your account</h2>
    </div>





    <!-- Form Start -->
    <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        <form class="space-y-6" method="post" role="form" th:action="@{/users/register/activate}">
            <div>

                <div class="mt-2">
                    <input type="hidden" name="uname" th:value="${userName}"  required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <div class="flex items-center justify-between">


                </div>
                <div class="mt-2">
                    <input type="hidden" name="token" th:value="${token}"required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <button type="submit" class="flex w-full justify-center rounded-md bg-gray-900 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Activate</button>
            </div>
        </form>

        <p class="mt-10 text-center text-sm text-gray-500">
            Dont have an Account?
            <a href="/users/register/page" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Register</a>
        </p>
    </div>
</div>


</body>
</html>