

<!DOCTYPE html>
<html class="h-full bg-white">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet" />

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-TileColor" content="#0ed3cf">
    <meta name="theme-color" content="#0ed3cf">
    <meta property="og:image" content="https://tailwindcomponents.com/storage/10589/conversions/temp23604-ogimage.jpg?v=2024-02-09 19:40:03" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:url" content="https://tailwindcomponents.com/component/sidebar-by-material-tailwind/landing" />
    <meta property="og:title" content="Tailwind CSS Sidebar by Material Tailwind" />
    <meta property="og:description" content="Create web projects more efficient with our ready-to-use Tailwind CSS Sidebar. Customize the sidebar to integrate it into your website&#039;s design, ensuring consistency with the overall aesthetics of your website. https://www.material-tailwind.com/docs/react/sidebar" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TwComponents" />
    <meta name="twitter:title" content="Tailwind CSS Sidebar by Material Tailwind" />
    <meta name="twitter:description" content="Create web projects more efficient with our ready-to-use Tailwind CSS Sidebar. Customize the sidebar to integrate it into your website&#039;s design, ensuring consistency with the overall aesthetics of your website. https://www.material-tailwind.com/docs/react/sidebar" />
    <meta name="twitter:image" content="https://tailwindcomponents.com/storage/10589/conversions/temp23604-ogimage.jpg?v=2024-02-09 19:40:03" />

    <link rel="canonical" href="https://tailwindcomponents.com/component/sidebar-by-material-tailw" itemprop="URL">

    <title>Login </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/tailwind.css}"/>
    <link rel="stylesheet" href="/css/other_styles.css">
    <link href="/video-js.css" rel="stylesheet">
    <script src="/video.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

    <style>
        body {

            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
    </style>
</head>
<body class="h-full"  th:background="@{/dist/VIDUP.jpg}">

<div class="min-h-screen flex flex-grow items-center justify-center bg-gray-50">
    <div class="rounded-lg bg-white p-8 text-center shadow-xl">
        <h1 class="mb-4 text-4xl font-bold">Error</h1>
        <p class="text-gray-600">Oops! Something Went Wrong.</p>


        <p class="text-gray-600" th:text="${message}"> Error Message: </p>
        <a href="/" class="mt-4 inline-block rounded bg-blue-500 px-4 py-2 font-semibold text-white hover:bg-blue-600"> Go back  </a>
    </div>
</div>


</body>
</html>